body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: left;
  height: 100vh;
  background-color: #4D4B4B;
}

.container {
  text-align: center;
  color: white;
}
